@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    align-items: center;
    margin: 0px;
    font-family: 'Inter', sans-serif;

}
.upperContent{
    background-color: #6943FF;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding:25px 0px;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 28px;
    color: white;
}

.box{
    border: 2px solid #B295FF;
    border-radius: 5px;
    padding-inline: 20px;
    padding-block: 10px;
    font-weight: 800;
    font-size: 58px;
    color: white;
}
button{
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.02);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    padding-block: 10px;
    padding-inline: 30px;
}
.lowerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}
.item{
    background-color: #FFFFFF;
    border-radius: 6px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    margin: 10px 0px;
}
.title{
    font-weight: 600;
    font-size: 20px;
    color: #5A537B;
    margin-bottom: 16px;
}
.subtitle{
    font-size: 14px;
    color: #353535;
}